.styled-text-area .text {
    -fx-fill: black;
}

.styled-text-area .sanastonsana {
}

.styled-text-area .alleviivattu {
    -rtfx-underline-color: red;
    -rtfx-underline-dash-array: 2 2;
    -rtfx-underline-width: 1;
    -rtfx-underline-cap: butt;
}

.ehdotusnappi {
    -fx-background-color: bisque;
    -fx-alignment: center;
    -fx-border-radius: 5;
    -fx-font-size: 11;
}

.ehdotusnappi:focused {
    -fx-background-color: burlywood;
}

.eiehdotuksia {
    -fx-font-size: 11;
    -fx-background-color: bisque;
}

.button {
    -fx-max-size: 9999;
}

.testivalikkonappi {
    -fx-font-size: 20;
}

.testivalikko {
    -fx-fill-width: true;
    -fx-max-width: 600;
}